<div [formGroup]="form">
  <mat-form-field class="full-width-input">
    <input
      matInput
      type="number"
      placeholder="Distance (In Miles)"
      formControlName="distance"
    />
  </mat-form-field>

  <mat-form-field class="push-left">
    <time-duration-control
      placeholder="Time"
      formControlName="elapsed_time"
    ></time-duration-control>
    <mat-icon matSuffix>timer</mat-icon>
    <mat-hint>Minutes:Seconds</mat-hint>
  </mat-form-field>

  <mat-form-field class="full-width-input">
    <input
      matInput
      type="number"
      placeholder="Average Heart Rate"
      formControlName="heartrate"
    />
  </mat-form-field>

  <mat-form-field class="full-width-input">
    <input
      matInput
      type="number"
      placeholder="Calories"
      formControlName="calories"
    />
  </mat-form-field>

  <div>
    <label>Completed?:</label>
    <mat-slide-toggle formControlName="isCompleted"></mat-slide-toggle>
  </div>
</div>
