<button type="button" mat-raised-button [routerLink]="['/guides', 'New']">Add Guide</button>
<br>
<br>
<mat-divider></mat-divider>
<br>
<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px" style="height: 100%;">
  <mat-card *ngFor="let guide of guides" [ngStyle.lt-sm]="{'min-width': '80%'}" [ngStyle]="{'min-width': '30%'}">
    <mat-card-title>{{guide.name}}</mat-card-title>
    <mat-card-subtitle>{{guide.createdAt | date:'short'}}</mat-card-subtitle>
    <mat-card-content>
      <p class="card-text">{{guide.description}}</p>
      <a href="#" mat-raised-button color="primary" [routerLink]="['/guides', guide._id]">View</a>
    </mat-card-content>
  </mat-card>
</div>