<div class="card"[formGroup]="group" [hidden]="activeExerciseIndex != exercisesIndex">
    <div class="card-header">
        <b>{{ exercise.name }}</b>
    </div>
    <div class="card-block">
        <input type="hidden" formControlName="name"/>
        <input type="hidden" formControlName="guideExercise"/>
        <input type="hidden" formControlName="type"/>
        <div *ngIf="exercise.sets.length > 0" formArrayName="sets">
            <ul style="list-style-type:none; padding-left:0px;">
                <li *ngFor="let set of exercise.sets; let setsIndex = index;">
                    <strength-training-set [group]="group.controls.sets.controls[setsIndex]" [workout]="workout" [exercise]="exercise" [set]="set"></strength-training-set>
                </li>
            </ul>
        </div>
        <div class="form-group" *ngIf="exercise.type == 'COMPLETED'">
            <label>Completed?</label>
            <toggle-control formControlName="isCompleted"></toggle-control>
        </div>
        <div class="form-group" *ngIf="exercise.type == 'SECONDS'">
            <label>Seconds: </label>
            <input  type="number" class="form-control" formControlName="seconds"/>
        </div>
    </div>
</div>