<div [formGroup]="group">
    <h6 *ngIf="set.side != 'NONE'" style="text-align:center">{{set.side | titlecase}} Side</h6>
    <input type="hidden" formControlName="side"/>

    <div class="container">
        <div class="row no-gutters">
            <div class="col-2"></div>
            <div class="col-5" style="text-align: center">
                Repetitions
            </div>
            <div *ngIf="exercise.type == 'WEIGHTS'" class="col-5" style="text-align: center">
                Weight
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-2"></div>
            <div class="col">
                <span class="input-group-btn float-right">
                    <increment-decrement-button [operation]="'decrement'" [control]="group.controls.repetitions"></increment-decrement-button>
                </span>
            </div>
            <div class="col">
                <input type="number" class="form-control form-control-sm" formControlName="repetitions"/>
            </div>
            <div class="col">
                <span class="input-group-btn float-left">
                    <increment-decrement-button [operation]="'increment'" [control]="group.controls.repetitions"></increment-decrement-button>
                </span>
            </div>
            <div *ngIf="exercise.type == 'WEIGHTS'" class="col">
                <span class="input-group-btn float-right">
                    <increment-decrement-button [operation]="'decrement'" [control]="group.controls.weight"></increment-decrement-button>
                </span>
            </div>
            <div *ngIf="exercise.type == 'WEIGHTS'" class="col">
                    <input type="number" class="form-control form-control-sm" formControlName="weight"/>
            </div>
            <div *ngIf="exercise.type == 'WEIGHTS'" class="col">
                <span class="input-group-btn float-left">
                    <increment-decrement-button [operation]="'increment'" [control]="group.controls.weight"></increment-decrement-button>
                </span>
            </div>
        </div>
        <!-- Make this open/close when needed? -->
        <div class="row" *ngIf="exercise.type == 'WEIGHTS'">
                <label class="col-4 col-sm-2 col-form-label">Adjust Weight:</label>
                <div class="col-8 col-sm-10 text-center">
                    <adjust-weight-picker formControlName="adjustWeight"></adjust-weight-picker>
                </div>
            </div>
        <!-- <div *ngFor="let previousSet of previousSets; let i = index;" class="row no-gutters" style="margin-top:1em;">
            <div class="col-2">{{ previousWorkoutDates[i] | date:'shortDate' }}</div>
            <div class="col-5" style="text-align: center">
                <button type="button" class="btn btn-secondary" (click)="copyRepititions(previousSet.repetitions)" *ngIf="previousSet.repetitions">{{ previousSet.repetitions }}</button>
                <span *ngIf="!previousSet.repetitions">-</span>
            </div>
            <div class="col-5" style="text-align: center">
                <button type="button" class="btn btn-secondary" (click)="copyWeight(previousSet.weight)" *ngIf="previousSet.weight">{{ previousSet.weight }}</button>
                <span *ngIf="!previousSet.weight">-</span>
            </div>
        </div> -->
    </div>


    <!-- <div class="form-group row">
            <label class="col-4 col-sm-2 col-form-label">Repetitions:</label>
            <div class="col-8 col-sm-10 input-group">
                <span class="input-group-btn">
                    <increment-decrement-button [operation]="'decrement'" [control]="group.controls.repetitions"></increment-decrement-button>
                </span>
                <input type="number" class="form-control" formControlName="repetitions"/>
                <span class="input-group-btn">
                    <increment-decrement-button [operation]="'increment'" [control]="group.controls.repetitions"></increment-decrement-button>
                </span>
            </div>
    </div>

    <div class="form-group row" *ngIf="exercise.type == 'WEIGHTS'">
            <label class="col-4 col-sm-2 col-form-label">Weight:</label>
            <div class="col-8 col-sm-10 input-group">
                <span class="input-group-btn">
                    <increment-decrement-button [operation]="'decrement'" [control]="group.controls.weight"></increment-decrement-button>
                </span>
                <input type="number" class="form-control" formControlName="weight"/>
                <span class="input-group-btn">
                    <increment-decrement-button [operation]="'increment'" [control]="group.controls.weight"></increment-decrement-button>
                </span>
            </div>
    </div>
    <div class="form-group row" *ngIf="exercise.type == 'WEIGHTS'">
        <label class="col-4 col-sm-2 col-form-label">Adjust Weight:</label>
        <div class="col-8 col-sm-10 text-center">
            <adjust-weight-picker formControlName="adjustWeight"></adjust-weight-picker>
        </div>
    </div> -->

    <table class="table table-sm" *ngIf="!workout._id && previousSets.length > 0">
        <thead>
            <tr>
                <th></th>
                <th>Repetitions</th>
                <th *ngIf="exercise.type == 'WEIGHTS'">Weight</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let previousSet of previousSets; let i = index;">
                <td>{{ previousWorkoutDates[i] | date }}</td>
                <td>
                    <button type="button" class="btn btn-secondary" (click)="copyRepititions(previousSet.repetitions)" *ngIf="previousSet.repetitions">{{ previousSet.repetitions }}</button>
                    <span *ngIf="!previousSet.repetitions">-</span>
                </td>
                <td *ngIf="exercise.type == 'WEIGHTS'">
                    <button type="button" class="btn btn-secondary" (click)="copyWeight(previousSet.weight)" *ngIf="previousSet.weight">{{ previousSet.weight }}</button>
                    <span *ngIf="!previousSet.weight">-</span>
                </td>
                <td>
                    <span class="previous-set-adjust-weight">
                        <i *ngIf="previousSet.adjustWeight == 'DECREASE'" class="fa fa-arrow-down" aria-hidden="true"></i>
                        <i *ngIf="previousSet.adjustWeight == 'INCREASE'" class="fa fa-arrow-up" aria-hidden="true"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

</div>