<div [formGroup]="group">
  <input type="hidden" formControlName="side" />
  <mat-card>
    <mat-card-title *ngIf="set.side != 'NONE'">
      {{set.side | titlecase}} Side
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="45%">
          <b>Repetitions</b>
        </div>
        <div *ngIf="exercise.type == 'WEIGHTS'" fxShow="exercise.type == 'WEIGHTS'" fxFlex="45%">
          <b>Weight</b>
        </div>
        <div *ngIf="exercise.type == 'WEIGHTS'" fxShow="exercise.type == 'WEIGHTS'" fxFlex="10%"></div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="45%">
          <strength-training-set-input-control [formGroup]="group" [control]="group.controls.repetitions" name="repetitions"></strength-training-set-input-control>
        </div>
        <div *ngIf="exercise.type == 'WEIGHTS'" fxShow="exercise.type == 'WEIGHTS'" fxFlex="45%">
          <strength-training-set-input-control [formGroup]="group" [control]="group.controls.weight" name="weight"></strength-training-set-input-control>
        </div>
        <div *ngIf="exercise.type == 'WEIGHTS'" fxShow="exercise.type == 'WEIGHTS'" fxFlex="10%">
          <input type="hidden" formControlName="adjustWeight" />
          <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="adjustWeightClicked('INCREASE', group.controls.adjustWeight)" style="text-align: right">
              <mat-icon *ngIf="group.controls.adjustWeight.value == 'INCREASE'">check</mat-icon>
              <span style="text-align: right">Increase Weight</span>
            </button>
            <button mat-menu-item (click)="adjustWeightClicked('DECREASE', group.controls.adjustWeight)" style="text-align: right">
              <mat-icon *ngIf="group.controls.adjustWeight.value == 'DECREASE'">check</mat-icon>
              <span>Decrease Weight</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div *ngIf="showPreviousWorkouts()">
        <div *ngFor="let previousSet of previousSets">
          <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="80%">{{ previousSet.completedAt | date }}</div>
            <div *ngIf="exercise.type == 'WEIGHTS'" fxShow="exercise.type == 'WEIGHTS'" fxFlex="10%"></div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="45%">
              <button type="button" mat-raised-button (click)="copyRepititions(previousSet.repetitions)">{{ previousSet.repetitions }}</button>
            </div>
            <div *ngIf="exercise.type == 'WEIGHTS'" fxShow="exercise.type == 'WEIGHTS'" fxFlex="45%">
              <button type="button" mat-raised-button *ngIf="previousSet.weight" (click)="copyWeight(previousSet.weight)">{{ previousSet.weight }}</button>
            </div>
            <div *ngIf="exercise.type == 'WEIGHTS'" fxShow="exercise.type == 'WEIGHTS'" fxFlex="10%">
              <mat-icon *ngIf="previousSet.adjustWeight == 'INCREASE'">arrow_upwards</mat-icon>
              <mat-icon *ngIf="previousSet.adjustWeight == 'DECREASE'">arrow_downward</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>