<div [formGroup]="group">
    <input type="hidden" formControlName="side" />
    <mat-card>
        <mat-card-title *ngIf="set.side != 'NONE'">
            {{set.side | titlecase}} Side
        </mat-card-title>
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxFlex="40%">
                    <b>Repetitions</b>
                </div>
                <div *ngIf="exercise.type == 'WEIGHTS'" fxShow="exercise.type == 'WEIGHTS'" fxFlex="40%">
                    <b>Weight</b>
                </div>
                <div *ngIf="exercise.type == 'WEIGHTS'" fxShow="exercise.type == 'WEIGHTS'" fxFlex="20%"></div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxFlex="40%">
                    <strength-training-set-input-control [formGroup]="group" [control]="group.controls.repetitions" name="repetitions"></strength-training-set-input-control>
                </div>
                <div *ngIf="exercise.type == 'WEIGHTS'" fxShow="exercise.type == 'WEIGHTS'" fxFlex="40%">
                    <strength-training-set-input-control [formGroup]="group" [control]="group.controls.weight" name="weight"></strength-training-set-input-control>
                </div>
                <div *ngIf="exercise.type == 'WEIGHTS'" fxShow="exercise.type == 'WEIGHTS'" fxFlex="20%">
                    <input type="hidden" formControlName="adjustWeight" />
                    <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="adjustWeightClicked('INCREASE', group.controls.adjustWeight)" style="text-align: right">
                            <mat-icon *ngIf="group.controls.adjustWeight.value == 'INCREASE'">check</mat-icon>
                            <span style="text-align: right">Increase Weight</span>
                        </button>
                        <button mat-menu-item (click)="adjustWeightClicked('DECREASE', group.controls.adjustWeight)" style="text-align: right">
                            <mat-icon *ngIf="group.controls.adjustWeight.value == 'DECREASE'">check</mat-icon>
                            <span>Decrease Weight</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
            <div *ngIf="showPreviousWorkouts()">
                <div *ngFor="let previousSet of previousSets; let i = index;">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <div fxFlex="80%">{{ previousWorkoutDates[i] | date }}</div>
                        <div *ngIf="exercise.type == 'WEIGHTS'" fxShow="exercise.type == 'WEIGHTS'" fxFlex="20%"></div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <div fxFlex="40%">
                            <button type="button" mat-raised-button (click)="copyRepititions(previousSet.repetitions)">{{ previousSet.repetitions }}</button>
                        </div>
                        <div *ngIf="exercise.type == 'WEIGHTS'" fxShow="exercise.type == 'WEIGHTS'" fxFlex="40%">
                            <button type="button" mat-raised-button *ngIf="previousSet.weight" (click)="copyWeight(previousSet.weight)">{{ previousSet.weight }}</button>
                        </div>
                        <div *ngIf="exercise.type == 'WEIGHTS'" fxShow="exercise.type == 'WEIGHTS'" fxFlex="20%">
                            <mat-icon *ngIf="previousSet.adjustWeight == 'INCREASE'">arrow_upwards</mat-icon>
                            <mat-icon *ngIf="previousSet.adjustWeight == 'DECREASE'">arrow_downward</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <!-- <h6 *ngIf="set.side != 'NONE'" style="text-align:center">{{set.side | titlecase}} Side</h6> -->

    <!-- <div class="container">
        <div class="row no-gutters">
            <div class="col-2"></div>
            <div class="col-5" style="text-align: center">
                Repetitions
            </div>
            <div *ngIf="exercise.type == 'WEIGHTS'" class="col-5" style="text-align: center">
                Weight
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-2"></div>
            <div class="col">
                <span class="input-group-btn float-right">
                    <increment-decrement-button [operation]="'decrement'" [control]="group.controls.repetitions"></increment-decrement-button>
                </span>
            </div>
            <div class="col">
                <input type="number" class="form-control form-control-sm" formControlName="repetitions" />
            </div>
            <div class="col">
                <span class="input-group-btn float-left">
                    <increment-decrement-button [operation]="'increment'" [control]="group.controls.repetitions"></increment-decrement-button>
                </span>
            </div>
            <div *ngIf="exercise.type == 'WEIGHTS'" class="col">
                <span class="input-group-btn float-right">
                    <increment-decrement-button [operation]="'decrement'" [control]="group.controls.weight"></increment-decrement-button>
                </span>
            </div>
            <div *ngIf="exercise.type == 'WEIGHTS'" class="col">
                <input type="number" class="form-control form-control-sm" formControlName="weight" />
            </div>
            <div *ngIf="exercise.type == 'WEIGHTS'" class="col">
                <span class="input-group-btn float-left">
                    <increment-decrement-button [operation]="'increment'" [control]="group.controls.weight"></increment-decrement-button>
                </span>
            </div>
        </div> -->
    <!-- Make this open/close when needed? -->
    <!-- <div class="row" *ngIf="exercise.type == 'WEIGHTS'">
            <label class="col-4 col-sm-2 col-form-label">Adjust Weight:</label>
            <div class="col-8 col-sm-10 text-center">
                <adjust-weight-picker formControlName="adjustWeight"></adjust-weight-picker>
            </div>
        </div> -->

    <!-- <table class="table table-sm" *ngIf="!workout._id && previousSets.length > 0">
        <thead>
            <tr>
                <th></th>
                <th>Repetitions</th>
                <th *ngIf="exercise.type == 'WEIGHTS'">Weight</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let previousSet of previousSets; let i = index;">
                <td>{{ previousWorkoutDates[i] | date }}</td>
                <td>
                    <button type="button" class="btn btn-secondary" (click)="copyRepititions(previousSet.repetitions)" *ngIf="previousSet.repetitions">{{ previousSet.repetitions }}</button>
                    <span *ngIf="!previousSet.repetitions">-</span>
                </td>
                <td *ngIf="exercise.type == 'WEIGHTS'">
                    <button type="button" class="btn btn-secondary" (click)="copyWeight(previousSet.weight)" *ngIf="previousSet.weight">{{ previousSet.weight }}</button>
                    <span *ngIf="!previousSet.weight">-</span>
                </td>
                <td>
                    <span class="previous-set-adjust-weight">
                        <i *ngIf="previousSet.adjustWeight == 'DECREASE'" class="fa fa-arrow-down" aria-hidden="true"></i>
                        <i *ngIf="previousSet.adjustWeight == 'INCREASE'" class="fa fa-arrow-up" aria-hidden="true"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table> -->

</div>