<!-- <div class="btn-group">
    <label *ngFor="let workoutType of workoutTypes" class="btn btn-secondary" [class.active]="value == workoutType.value">
        <input type="radio" name="workoutType" 
            [attr.value]="workoutType.value"
            (blur)="onBlur(workoutType.value)"
            (change)="onChange(workoutType.value)"
            (focus)="onFocus(workoutType.value)"
            [checked]="value === workoutType.value">{{workoutType.display}}
    </label>
</div> -->
<!-- <mat-toggle-button-group formControlName="">
    <mat-toggle-button *ngFor="let workoutType of workoutTypes" value="workoutType.value">{{workoutType.display}}</mat-toggle-button>
</mat-toggle-button-group> -->