<h2>Select a Workout!</h2>
<form novalidate [formGroup]="form">
    <workout-type formControlName="workoutType"></workout-type>
    <strength-training-picker *ngIf="form.value.workoutType == 'STRENGTH_TRAINING'" [form]="form"></strength-training-picker>
    <br>
    <div *ngIf="form.value.workoutType == 'CYCLING'">
        <div class="alert alert-info" role="alert">
            <strong>Whoops!</strong> Cycling is not quite there yet.
        </div>
        <br>
    </div>
    <button type="button" class="btn btn-primary" (click)="startWorkout()" [disabled]="form.value.workoutType == 'CYCLING'">Let's Go!</button>
</form>