<div style="text-align: center">
    <h2>Select a Workout!</h2>
    <form novalidate [formGroup]="form">
        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="10px" style="margin:20px">
            <mat-card class="card-layout">
                <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Workout Type" formControlName="workoutType">
                            <mat-option *ngFor="let workoutType of workoutTypes" [value]="workoutType.value">{{workoutType.display}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <strength-training-picker *ngIf="form.value.workoutType == 'STRENGTH_TRAINING'" [form]="form"></strength-training-picker>
                    <div *ngIf="form.value.workoutType == 'CYCLING'">
                        <div class="alert alert-info" role="alert">
                            <strong>Whoops!</strong> Cycling is not quite there yet.
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                        <button mat-button (click)="startWorkout()" [disabled]="form.value.workoutType == 'CYCLING'">Let's Go!</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </form>
</div>
