<div class="row text-center">
  <button type="button" class="btn btn-primary mx-auto" [routerLink]="['/workout-picker']">Pick a Workout!</button>
</div>
<br>
<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <button class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="dateChanged()">
        Previous
      </button>
      <button class="btn btn-secondary" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="dateChanged()">
        Today
      </button>
      <button class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="dateChanged()">
        Next
      </button>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
  </div>
</div>
<mwl-calendar-month-view
  [viewDate]="viewDate"
  [events]="(events | async) || []">
</mwl-calendar-month-view>