<h2>View Workout</h2>
<button type="button" class="btn btn-outline-secondary" [routerLink]="['/workouts']">Back</button>
<div *ngIf="workout" >
    <form novalidate (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" [ngModel]="workout.name"/>
        </div>
        <div class="form-group">
            <label for="guide">Guide:</label>
            <select class="form-control" name="guide" [(ngModel)]="workout.guide">
                <option *ngFor="let guide of guides" [value]="guide._id">{{guide.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="notes">Notes:</label>
            <textarea class="form-control" name="notes" rows="3" [ngModel]="workout.notes"></textarea>
        </div>
        <div class="form-group">
            <label for="createdAt">Created At:</label>
            <input type="text" class="form-control" readonly="true" value="{{workout.createdAt | date:'short'}}"/>
            <input type="hidden" class="form-control" name="createdAt" [ngModel]="workout.createdAt"/>
        </div>

        <workout-type></workout-type>

        <input type="hidden" name="_id" [ngModel]="workout._id" />
        <input type="hidden" name="completedAt" [ngModel]="workout.completedAt" />
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-primary" (click)="onComplete(form)" [hidden]="workout.completedAt">Complete</button>
        <button type="button" class="btn btn-primary" (click)="onDelete(form)" [hidden]="!workout._id">Delete</button>
    </form>
</div>