<button type="button" mat-raised-button [routerLink]="['/workout-picker']">Pick a Workout!</button>
<mat-divider></mat-divider>
<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px" style="height: 100%;">
  <mat-card *ngFor="let workout of workouts" class="guide-card">
    <mat-card-title>{{workout.name}}</mat-card-title>
    <mat-card-subtitle *ngIf="workout.completedAt">{{workout.completedAt | date:'short'}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!workout.completedAt">Workout in progress</mat-card-subtitle>
    <mat-card-content>
      <a href="#" mat-raised-button color="primary" [routerLink]="['/workout-tracker', workout._id]">View</a>
    </mat-card-content>
  </mat-card>
</div>