.navbar-brand {
    font-family: 'Aeromatics';
    font-size: 18pt;
    color: #0275d8;
}

.xstyle {
    font-size: 32pt;
}

.nav-link{
    font-family: 'Aeromatics';
    font-size: 14pt;
    cursor: pointer;
}