.example-fill-remaining-space {
/* This fills the remaining space, by using flexbox. 
    Every toolbar row uses a flexbox row layout. */
flex: 1 1 auto;
}

.logo {
    font-family: 'Aeromatics';
    font-size: 18pt;
    color: #0275d8;
    .logo-big-font {
        font-size: 28pt;
    }
}