<div [formGroup]="form">
    <div formArrayName="exercises">
        <div class="card" *ngFor="let exercise of workout.exercises; let exercisesIndex = index;">
            <strength-training-workout-exercise 
                [group]="form.controls.exercises.controls[exercisesIndex]"
                [exercise]="exercise" 
                [exercisesIndex]="exercisesIndex" 
                [workout]="workout"
                [previousWorkouts]="previousWorkouts"></strength-training-workout-exercise>
        </div>
    </div>
</div>
