<div *ngIf="workout" >
    <form novalidate (ngSubmit)="save()" [formGroup]="form">
        <running-workout *ngIf="workout.type == 'RUNNING'" [form]="form" [workout]="workout"></running-workout>
        <strength-training-workout *ngIf="workout.type == 'STRENGTH_TRAINING'" [form]="form" [workout]="workout"></strength-training-workout>
        <div class="form-group">
            <label>Completed?</label>
            <toggle-control formControlName="isCompleted"></toggle-control>
        </div>
        <div class="form-group">
            <label for="notes">Notes:</label>
            <textarea class="form-control" rows="3" formControlName="notes"></textarea>
        </div>

        <!-- <input [mdDatepicker]="myDatepicker" formControlName="createdAt" />
        <md-datepicker #myDatepicker></md-datepicker> -->

        <input type="hidden" formControlName="_id" />
        <input type="hidden" formControlName="type" />
        <input type="hidden" formControlName="name" />
        <input type="hidden" formControlName="createdAt" />
        <input type="hidden" formControlName="completedAt" />
        <button class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary"(click)="delete()">Delete</button>
    </form>
</div>
