/* You can add global styles to this file, and also import other style files */

body { padding-top: 75px; }

.container {
    padding: 7px;
}

md-card{
    width: 50%;
}

@font-face {
  font-family: 'Aeromatics';
  src: url(/assets/fonts/AeroMaticsBold.ttf);
}